numpy~=1.26.4
pandas~=2.2.3
scikit-learn~=1.6.1
scipy~=1.7.3
xarray~=2025.1.2
netcdf4~=1.5.8
h5netcdf~=0.12.0
matplotlib~=3.5.1
seaborn~=0.11.2
jupyter~=1.0.0
statsmodels~=0.13.2
torch~=2.6.0
cdsapi~=0.7.5
psutil~=7.0.0
tqdm~=4.67.1